.username {
    color: #fff;
    font-size: 3.6rem;
    padding: 20px;
}

.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;

}

@media(max-width: 1300px) {
    .user-profile {
        flex-wrap: wrap;
    }
}

.img-box img {
    width: 100px;
    margin: 10px;
}

@media(max-width: 900px) {
    .img-box img {
        width: 100%;
    }
}