.categoryImage {
    width: 300px;
    max-width: 300px;
}

.categoryList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media(max-width: 500px) {
    .categoryList {
        display: block;
        width: 100%;
    }
}

.categoryItem {
    width: 300px;
    max-width: 300px;
    border: 1px solid black;
    margin: 5px;
    width: 32%;
    height: 400px;
    max-height: 400px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

@media(max-width: 500px) {
    .categoryItem {
        width: 100%;
        max-width: 100%;
        margin: 0px auto;
        padding: 0;
        height: 600px;
        max-height: 600px;
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }
}

.categoryItem img {
    width: 100%;
}

@media(max-width: 500px) {
    .categoryItem img {
        width: 100%;
        max-width: 100%;
    } 
}

.categoryName {
    font-weight: bold;
    padding: 20px 0 0 0;
}

.addCategory {
    width: 100%;
    padding: 20px;
}

.new-cat-sub-btn {
    width: 100%;
    padding: 10px;
    margin: 0;
}

.new-cat-sub-btn p {
    font-size: 36px;
}

@media(max-width: 500px) {
    .new-cat-sub-btn {
        padding: 0;
    }
}

@media(max-width: 500px) {
    .new-cat-sub-btn {
        height: 100px;
        margin: 0 20px 5px -7.5px;
    }
}

.edit-rank-form {
    display: flex;
}

#root > div > div > div.addCategoryContainer > form > div:nth-child(2) > div > input {
    font-size: 1.6rem;
    padding: 3rem;
}