.top9-container {
    width: 900px;
    margin: 0 auto;
}

@media (max-width: 900px) {
    .top9-container {
        width: 800px;
    }
}

@media (max-width: 800px) {
    .top9-container {
        width: 700px;
    }
}

@media (max-width: 700px) {
    .top9-container {
        width: 600px;
    }
}

@media (max-width: 600px) {
    .top9-container {
        width: 500px;
    }
}

@media (max-width: 500px) {
    .top9-container {
        width: 400px;
    }
}

@media (max-width: 400px) {
    .top9-container {
        width: 300px;
    }
}

.top9-header {
    width: 100%;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

@media (max-width: 500px) {
    .top9-header {
        width: 100%;
        padding: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.rankmap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media (max-width) {
    .rankmap {
        display: block;
    }
}

.category-card {
    max-width: 32.22;
    width: 32.22%;
    border: 1px solid black;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 5px;
    padding: 0px;
    height: 500px;
    max-height: 500px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

@media (max-width: 500px) {
    .category-card {
        width: 100%;
        max-width: 100%;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }
}

.category-card img {
    width: 100%;
    max-width: 300px;
    max-height: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media (max-width: 500px) {
    .category-card img {
        width: 100%;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.user-cat-desc {
    font-weight: light;
}

.user-cat-title {
    padding: 1px;
}

.user-cat-rank {
    padding: 1px;
}

.user-cat-desc {
    padding: 1px;
}