.loginFormContainer, .registerFormContainer {
  max-width: 600px;
  margin: 80px auto 40px;
  display: flex;
  flex-direction: column;
  padding: 0;
  border: solid 1px black;
  border-radius: 30px;
}

.loginHeading, .registerHeading {
  color: rgb(196, 55, 102);
  font-size: 6rem;
  margin-bottom: 100px;
}

.loginForm, .registerForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
}

.loginInput, .registerInput {
  width: 400px;
  height: 40px;
  padding-left: 15px;
  margin: 10px 0;
  font-size: 2rem;
  border-radius: 5%;
}

.loginButton, .createButton, .registerButton, .backToLogin {
  margin: 10px 0;
  width: 250px;
  height: 40px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 3px;
  border-radius: 5%;
}

.loginButton:hover, .createButton:hover, .registerButton:hover, .backToLogin:hover {
  cursor: pointer;
  color: rgb(53, 4, 4);
  background-color: ghostwhite;
}

.createSlogan {
  font-size: 2rem;
}

.createButton {
  font-weight: 550;
  letter-spacing: 2px;
}
